*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.wrapper{
    margin: 0px auto;
    width: auto;
}
.clear{
    clear: both;
}
.float-left{
    float: left;
}
.banner{
    height: 280px;
    width: 100%;
}
.banner img{
    width: 100%;
    height: 100%;
}
.zing-header{
    margin: 0px auto;
    width: 1100px;
    border-bottom: 1px solid #ddd;
}
.zing-header .logo{
    width: 180px;
    height: 52px;
    padding-right: 15px;
}
.zing-header .menu li{
    list-style: none;
    float: left;
    padding-right: 20px;
    padding-top: 15px;
}
.zing-header .menu a{
    text-decoration: none;
    color: #444;
    font-weight: bold;
}
.zing-header .menu a:hover{
    color: blue;
}
.search{
    padding-top: 20px;
    padding-left: 30px;
    float: left;
}
.zing-header .search a:hover{
    color: blue;
}
/*--Hastag--*/
.hastag{
    margin: 0px auto;
    width: 1100px;
}
.hastag img{
    width: 24px;
    height: 24px;
    
}
.hastag a{
    float: left;
    margin-left: 20px;
    font-family: Arial;
    font-size: 13px;
    color: #333;
    border-radius: 100px;
    background-color: #f0f0f0;
    padding: 0 8px 0 12px;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
}
/*Content*/
.main-content{
    margin: 0px auto;
    width: 1300px;
    height: 523px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.content-left{
    width: 310px;
    height: auto;
    border-bottom: 1px solid #dedede;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}
.content-left-items img{
    width: auto;
    height: 80px;
    padding-right: 10px;
}
.content-left a{
    width: 180px;
    height: auto;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    font-weight: bolder;
    
}
.content-left a:hover{
    color: #3399cc;
}
.content-left-items{
    margin-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #dedede;
}
.content-center{
    width: 472px;
    height: 523px;
    padding-top: 15px;
    padding-right: 20px;
}
.content-center img{
    width: 472px;
}
.content-center a{
    font-size: 32px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}
.content-center a:hover{
    color: #3399cc;
}
.content-center span{
    font-size: 0.875rem;
    color: #444;
    line-height: 1.7;
}   
.content-center li{
    font-size: 14.4px;
    font-weight: bold;
}
.content-right{
    width: 258px;
    height: 172px;
    padding-top:15px ;
    padding-bottom: 70px;
}
.content-right-items img{
    width: 257.95px;
    height: 171.98px;
}
.content-right-items a{
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.content-right-items a:hover{
    color: #3399cc;
}
/*---BOOKS---*/
.books{
    
    width: 1100px;
    height: 278px;
    padding-top: 25px;
    padding-bottom: 5px;
    margin: 30px auto;
}
.title{
    height: 40px;
    border-bottom: 1px solid #dedede;    
}
.title a{
    height: 60px;
    color: red;
    font-weight: 900;
    float: left;
}
.title h3{
    text-decoration: none;
    color: #333333;
    float: left;
    margin-top: 3px;
}
.books-items{
    padding-top: 15px;
    float: left;
    padding-right:15px ;
    border: 1px solid #dedede;
}
.books-items img{
    height: 190px;
    width: 200px;
    border: 1px solid #dedede;
}
.books-items a{
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    font-size: 14.4px;
}
.books-items a:hover{
    color: #3399cc;
}
.books-items p{
    width: 182px;
    height: 60px;
}
.multimedia{
    margin-top: 25px;
    background-color: #ffde76;
    width: 1100px;
    height: 602px;
}
.multimedia-title{
    padding-left: 15px;
    padding-top: 25px;
}
.multimedia-title a{
    height: 60px;
    color: red;
    font-weight: 900;
    float: left;
}
.multimedia-title h3{
    text-decoration: none;
    color: #333333;
    float: left;
    margin-top: 3px;
}
.multimedia .list li{
    text-decoration: none;
    float: left;
    padding-left: 40px;
    list-style: none;
}
.multimedia .list a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
.multimedia-left{
    width: 539px;
    height: 452px;
    padding-left: 10px;
    padding-right: 20px;
    float: left;
}
.multimedia-left img{
    width: 530px;
    height: 359px;
}
.multimedia-left p{
    padding-top: 10px;
    width: 530px;
}
.multimedia-left a{
    text-decoration: none;
    color: #333333;
    font-size: 24px;
}
.multimedia-left span{
    margin-top: 75px;
    line-height: 1.43;
    font-size: 14px;
}
.multimedia-center{
    width: 256px;
    height: 430px;
    float: left;
    margin-right: 15px;
}
.multimedia-center-items img{
    width: 258px;
    height: 172px;
}
.multimedia-center-items a{
    font-size: 16px;
    font-weight: bold;
    color: #333;

}
.multimedia-right{
    width: 256px;
    height: 430px;
    float: left;
}
.multimedia-right-items img{
    width: 258px;
    height: 172px;
}
.multimedia-right-items a{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    
}
.multimedia-right-items{
    padding-bottom: 20px;
}
.section-content{
    width: 1100px;
    margin: 0px auto;
    padding-top: 85px;
    margin-bottom: 15px;
}
.section-content-items{
    width: 780px;
    height: 171px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
}
.section-content-items img{
    float: left;
    width: 257.4px;
    padding-right: 10px;
    height: 170px;
}
.section-content-items a{
    text-decoration: none;
    font-size: 21.12px;
    color: #333333;
    font-weight: bold;
}
.section-content-items a:hover{
    color: #3399cc;
}
.section-content-items span{
    padding-top: 10px;
}
.section-content-right{
    margin: 0px auto;
    float: left;
}
.section-content-left{
    float: left;
}
.section-content-right img{
    width: 300px;
    height: 600px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.section-content-right-items{
    padding-left: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.section-content-right-items h3{
    font-weight: 700;
    font-size: 18px;
}
.section-content-right-items img{
    float: left;
    width: 72px;
    height: 72px;
    padding-right: 5px;
}
.section-content-right-items span{
    font-size: 10px;
    line-height: 11px;
    float: left;
}
.section-content-right-items a{
    text-decoration: none;  
    color: #333333;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
    height: 36px;
    width: 147px;
}
.section-content-right-items p{
    width: 146px;
    height: 40px;
}